In [22]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

In [23]:
# Getting a cars24_url to parse the html code
toyota_url = 'https://www.cars24.com/buy-used-toyota-cars-mumbai/'
HEADERS = ({'User-Agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",'Accept-Language': 'en-US, en;q=0.5'})
response = requests.get(toyota_url, headers=HEADERS)

In [24]:
# using soup to get html code
soup= BeautifulSoup(response.text, "html.parser")

In [25]:
soup.find_all('h1')[0].text

'86 Used Toyota cars in Mumbai'

Task 1: Getting cars model & Year of Manufacture

In [26]:
cars_model = []
for i in soup.find_all('span',class_='sc-braxZu kjFjan'):
    print(i.text.strip())
    cars_model.append(i.text)

2021 Toyota Camry
2015 Toyota Etios
2017 Toyota Corolla Altis
2014 Toyota Etios
2021 Toyota URBAN CRUISER
2018 Toyota YARIS
2011 Toyota Innova
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2014 Toyota Corolla Altis
2011 Toyota Etios
2018 Toyota YARIS
2013 Toyota Etios Liva
2016 Toyota Innova Crysta
2012 Toyota Etios
2013 Toyota Etios

In [66]:
len(cars_model)

20

In [39]:
cars_model

['2021 Toyota Camry',
 '2015 Toyota Etios',
 '2017 Toyota Corolla Altis',
 '2014 Toyota Etios',
 '2021 Toyota URBAN CRUISER',
 '2018 Toyota YARIS',
 '2011 Toyota Innova',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2014 Toyota Corolla Altis',
 '2011 Toyota Etios',
 '2018 Toyota YARIS',
 '2013 Toyota Etios Liva',
 '2016 Toyota Innova Crysta',
 '2012 Toyota Etios',
 '2013 Toyota Etios']

Task 2: Scraping cars prices

In [40]:
price = soup.find_all('p', class_='sc-braxZu cyPhJl')

In [67]:
len(price)

22

In [124]:
# runing a for loop to get all car prices.
price = [] # created a empty list to append all the cars prices
for i in soup.find_all('p', class_='sc-braxZu cyPhJl'):
  # Only append if the text is not empty and does not contain 'Account'
  if i.text.strip() and 'Account' not in i.text:
    price.append(i.text)

In [43]:
# List of cars prices
price

['Account ',
 '',
 '₹30.75 lakh',
 '₹2.56 lakh',
 '₹6.40 lakh',
 '₹2.90 lakh',
 '₹7.20 lakh',
 '₹5.11 lakh',
 '₹3.59 lakh',
 '₹1.71 lakh',
 '₹1.74 lakh',
 '₹1.50 lakh',
 '₹2.06 lakh',
 '₹1.50 lakh',
 '₹1.65 lakh',
 '₹3.25 lakh',
 '₹1.21 lakh',
 '₹5.38 lakh',
 '₹2.07 lakh',
 '₹10.94 lakh',
 '₹1.70 lakh',
 '₹2.34 lakh']

Task3 :Kilometers Driven

In [64]:
km_run = soup.find_all('p',attrs = {'class': 'sc-braxZu kvfdZL'})

In [65]:
len(km_run)

80

In [45]:
# created multiple loops for each iteration to append only the km text from the p tag
km_runs = [] # empty list for appending km runs for each specific cars
for i in soup.find_all('p', attrs={'class': 'sc-braxZu kvfdZL'}):
    text = i.text
    # Use a regular expression to find only the numerical value followed by 'km'
    match = re.search(r'(\d+(\.\d+)?k?L?)\s*km', text)
    if match:
        km_value = match.group(1).replace('k', 'km') # Extract the matched kilometer value and replace 'k' with 'km'
        km_runs.append(km_value)

# Print the results
for km in km_runs:
    print(km)

39.75km
34.53km
26.93km
93.72km
52.14km
62.36km
1.6L
59.29km
1.1L
98.28km
48.41km
63.92km
76.00km
78.49km
1.4L
24.30km
45.95km
1.2L
1.2L
70.52km

Task 4: Getting types of cars based on fuel types

In [100]:
fuel_types = soup.find_all('p',attrs = {'class': 'sc-braxZu kvfdZL'})

In [126]:
fuel_type = soup.find_all('span',attrs = {'class': 'sc-braxZu lmmumg'})
fuel_types = [] # empty list
car_list = soup.find_all('span', attrs={'class': 'sc-braxZu lmmumg'})

for car in car_list:
    try:
        fuel_type = car.find_all('li')[2].text.strip()
        fuel_types.append(fuel_type)
    except IndexError:
        fuel_types.append('petrol')

for fuel in fuel_types:
    print(fuel)

petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol

Task 5 : Transmission

In [116]:
fuel_type = soup.find_all('span',attrs = {'class': 'sc-braxZu lmmumg'})

In [121]:
car_types = [] # empty list for appending car type based on gear system
car_list = soup.find_all('ul', attrs={'class': '_3J2G-'})

for car in car_list:
    try:
        car_type = car.find_all('li')[4].text.strip()
        car_types.append(car_type)
    except IndexError:
        car_types.append('Unknown')

First View of Dataset

In [128]:
# Create a dictionary from the extracted lists
car_data = {
    'Model': cars_model,
    'Price': price,
    'Kilometers Run': km_runs,
    'Fuel Type': fuel_types,

}

# Create a pandas DataFrame
car_df = pd.DataFrame(car_data)

# Display the head of the DataFrame
display(car_df.head())

                       Model        Price Kilometers Run Fuel Type
0          2021 Toyota Camry  ₹30.75 lakh        39.75km    petrol
1          2015 Toyota Etios   ₹2.56 lakh        34.53km    petrol
2  2017 Toyota Corolla Altis   ₹6.40 lakh        26.93km    petrol
3          2014 Toyota Etios   ₹2.90 lakh        93.72km    petrol
4  2021 Toyota URBAN CRUISER   ₹7.20 lakh        52.14km    petrol