In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

In [2]:
# Getting a cars24_url to parse the html code
toyota_url = 'https://www.cars24.com/buy-used-toyota-cars-mumbai/'
HEADERS = ({'User-Agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36",'Accept-Language': 'en-US, en;q=0.5'})
response = requests.get(toyota_url, headers=HEADERS)

In [3]:
# using soup to get html code
soup= BeautifulSoup(response.text, "html.parser")

In [7]:
soup.find_all('h1')[0].text

'87 Used Toyota cars in Mumbai'

In [45]:
cars_model = []
for i in soup.find_all('span',class_='sc-braxZu kjFjan'):
    print(i.text.strip())
    cars_model.append(i.text)

2021 Toyota Camry
2020 Toyota YARIS
2015 Toyota Etios
2017 Toyota Corolla Altis
2014 Toyota Etios
2021 Toyota URBAN CRUISER
2018 Toyota YARIS
2011 Toyota Innova
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2011 Toyota Etios
2014 Toyota Corolla Altis
2011 Toyota Etios
2018 Toyota YARIS
2013 Toyota Etios Liva
2016 Toyota Innova Crysta
2012 Toyota Etios

In [46]:

# List of cars model
cars_model

['2021 Toyota Camry',
 '2020 Toyota YARIS',
 '2015 Toyota Etios',
 '2017 Toyota Corolla Altis',
 '2014 Toyota Etios',
 '2021 Toyota URBAN CRUISER',
 '2018 Toyota YARIS',
 '2011 Toyota Innova',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2011 Toyota Etios',
 '2014 Toyota Corolla Altis',
 '2011 Toyota Etios',
 '2018 Toyota YARIS',
 '2013 Toyota Etios Liva',
 '2016 Toyota Innova Crysta',
 '2012 Toyota Etios']

In [47]:
price = soup.find_all('p', class_='sc-braxZu cyPhJl')

In [48]:
# runing a for loop to get all car prices.
price = [] # created a empty list to append all the cars prices
for i in soup.find_all('p', class_='sc-braxZu cyPhJl'):
  price.append(i.text)

In [49]:
# List of cars prices
price

['Account ',
 '',
 '₹30.75 lakh',
 '₹6.10 lakh',
 '₹2.56 lakh',
 '₹6.40 lakh',
 '₹2.90 lakh',
 '₹7.20 lakh',
 '₹5.11 lakh',
 '₹3.59 lakh',
 '₹1.71 lakh',
 '₹1.74 lakh',
 '₹1.50 lakh',
 '₹2.06 lakh',
 '₹1.50 lakh',
 '₹1.65 lakh',
 '₹3.25 lakh',
 '₹1.21 lakh',
 '₹5.38 lakh',
 '₹2.07 lakh',
 '₹10.94 lakh',
 '₹1.70 lakh']

In [50]:
km_run = soup.find_all('p',attrs = {'class': 'sc-braxZu kvfdZL'})

In [63]:
# created multiple loops for each iteration to append only the km text from the p tag
km_runs = [] # empty list for appending km runs for each specific cars
for i in soup.find_all('p', attrs={'class': 'sc-braxZu kvfdZL'}):
    text = i.text
    # Use a regular expression to find only the numerical value followed by 'km'
    match = re.search(r'(\d+(\.\d+)?k?L?)\s*km', text)
    if match:
        km_value = match.group(1).replace('k', 'km') # Extract the matched kilometer value and replace 'k' with 'km'
        km_runs.append(km_value)

# Print the results
for km in km_runs:
    print(km)

39.75km
35.25km
34.53km
26.93km
93.72km
52.14km
62.36km
1.6L
59.29km
1.1L
98.28km
48.41km
63.92km
76.00km
78.49km
1.4L
24.30km
45.95km
1.2L
1.2L

In [69]:
fuel_type = soup.find_all('span',attrs = {'class': 'sc-braxZu lmmumg'})

In [78]:
fuel_type = soup.find_all('span',attrs = {'class': 'sc-braxZu lmmumg'})
fuel_types = [] # empty list
car_list = soup.find_all('span', attrs={'class': 'sc-braxZu lmmumg'})

for car in car_list:
    try:
        fuel_type = car.find_all('li')[2].text.strip()
        fuel_types.append(fuel_type)
    except IndexError:
        fuel_types.append('petrol')

for fuel in fuel_types:
    print(fuel)

petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol
petrol

In [ ]:
car_type = soup.find_all('p',attrs = {'sc-braxZu kvfdZL'})[0].find_all('li')[4].text

In [87]:
# Find all the elements that contain car details
car_details = soup.find_all('ul', class_='sc-eDvSVe jPeCpg')

# Extract transmission for each car
transmissions = []
for car in car_details:
    try:
        # Assuming transmission is the fourth list item based on visual inspection
        transmission = car.find_all('p')[3].text.strip()
        transmissions.append(transmission)
    except IndexError:
        transmissions.append('N/A') # Append 'N/A' if transmission info is not found

# Print the list of transmissions
print(transmissions)

[]

In [88]:
car_types

['Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown',
 'Unknown']